body{
    background-color: rgb(64, 162, 162);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
}
div{
    width: 50%;
    height: 50%;
}